<div class="row-fluid">
    <div class="span12">
        <h4><span class="label label-default">Unsere nächsten Veranstaltungen</span></h4>
        <hr/>
        <span>23.04.2014 |</span><span></span> Lesung und Gespräch |<span> Andreas Maier liest aus "Die Straße"</span><br/>
        <span>20.10.2014 |</span><span></span> Doppellesung |<span> Oleg Jurjew - „Halbinsel Judatin“</span><br/>
        <span>20.10.2014 |</span><span></span> Doppellesung |<span> Olga Martynova - „Mörikes Schlüsselbein“</span>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <p>Newsletter empfangen?</p>
    </div>
    <div class="span6">
        <p>Newsletter empfangen?</p>
    </div>
</div>
<p class="marginbottom"></p>